.messageContainer {
	position: relative;
	width: 0;
	height: 0;
	overflow: visible;
}

.message {
	border: 1px solid black;
	font-size: 15px;
	display: inline-block;
	min-width: 100px;
	border-radius: 5px;
	text-align: center;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
}

.message-box {
	display: inline-block;
	margin: 4px;
	padding: 8px;
	border-radius: 4px;
	background: white;
	box-shadow: 2px 2px 1px #888888;

	h2 {
		margin: 0;
		font-size: 16px;
	}
}
