#navbar {
	height: 30px;
	padding: 10px;
	background-color: $main-color;

	.conversation-button {
		height: 30px;
		width: 30px;
		margin-right: 10px;
	}

	#logout-button, #home-button {
		float: right;
		margin-left: 10px;
	}
}