#navbar {
	height: 30px;
	padding: 10px;
	background-color: $main-color;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.12);

	.conversation-button {
		height: 30px;
		width: 30px;
		margin-right: 10px;
	}

	.selected {
		background-color: lighten($main-color, 10%);
	}

	#logout-button, #home-button, #secret-button {
		float: right;
		margin-left: 10px;
	}

	#secret-button {
		background: transparent;
		color: transparent;
		box-shadow: none;
	}
}