#navbar {
	height: 30px;
	padding: 10px;
	background-color: $main-color;

	.conversation-button {
		height: 30px;
		width: 30px;
		margin-right: 10px;
	}

	#logout-button, #home-button, #secret-button {
		float: right;
		margin-left: 10px;
	}

	#secret-button {
		background: transparent;
		color: transparent;
		box-shadow: none;
	}
}